<main>
    <h1>{{products.name}}</h1>
    <img class="cube" src={{products.imageUrl}}>
    <div class="details">
        <p><span>Description:</span>{{products.description}}</p>
        <p><span>Difficulty level:</span>{{products.level}}</p>
        <a class="btn" href="/">Back</a>
        <a class="btn" href="/{{products._id}}/attach">Attach</a>
    </div>
    <h2>Accessories</h2>
    <div class="accessories">
        {{#each products.accessories}}
            {{>accessory}}
        {{else}}
        <h3 class='italic'>This cube has not accessories yet...</h3>
        {{/each}}
    </div>
</main>